body {
    margin: 0; font-family: sans-serif; background: #eee;
    min-height: 100vh; display: flex; flex-direction: column;
}
.banner-bolivia {
    position: fixed; top:0; left:0; width:100%; height:100%;
    background: url('img/fondo-translucido.jpg') center/cover;
    z-index: -1; opacity: 0.7;
}
.navbar {
    display: flex; justify-content: space-between; align-items: center;
    background: white; padding: 10px; border-bottom: 3px solid #0056b3;
}
.logo-animado { height: 75px; transition: 0.3s; }
.logo-animado:hover { transform: scale(1.1); }
.titulo-central h1 { font-size: 1.2rem; margin:0; color: #0056b3; }

.content { flex: 1; padding: 20px; display: flex; justify-content: center; }
.glass-card {
    background: rgba(255,255,255,0.95); padding: 20px;
    border-radius: 15px; width: 100%; max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2); text-align: center;
    position: relative;
}

.btn-blue { background: #007bff; color: white; border: none; padding: 15px; width: 100%; border-radius: 10px; font-weight: bold; margin-bottom: 10px; cursor: pointer; }
.btn-gray { background: #6c757d; color: white; border: none; padding: 15px; width: 100%; border-radius: 10px; cursor: pointer; }
.btn-green { background: #28a745; color: white; border: none; padding: 15px; width: 100%; border-radius: 10px; font-weight: bold; font-size: 1.2rem; cursor: pointer; }

.cortes-grid img { height: 60px; margin: 5px; cursor: pointer; border: 2px solid transparent; }
.cortes-grid img:hover { border-color: #007bff; }
.img-preview { width: 100%; margin: 15px 0; border-radius: 10px; }

input { width: 100%; padding: 15px; font-size: 1.5rem; text-align: center; margin-bottom: 10px; box-sizing: border-box; }

/* ALERTAS */
.result-box { padding: 20px; border-radius: 10px; font-weight: bold; margin-top: 15px; }
.success { background: #d4edda; color: #155724; }
.error { background: #f8d7da; color: #721c24; }

@keyframes sirena {
    0% { background: #f8d7da; transform: scale(1); }
    50% { background: #ff4d4d; transform: scale(1.05); color: white; }
    100% { background: #f8d7da; transform: scale(1); }
}
.alerta-inhabilitado { animation: sirena 0.6s infinite; }

/* MODAL ESCANER */
.modal-scanner {
    position: fixed; top:0; left:0; width:100%; height:100%;
    background: rgba(0,0,0,0.8); display: flex; justify-content: center; align-items: center; z-index: 1000;
}
.modal-box {
    background: white; padding: 20px; border-radius: 15px; width: 90%; max-width: 400px; position: relative;
}
.btn-cerrar {
    position: absolute; top: 0px; right: 15px; font-size: 40px; color: #dc3545; cursor: pointer; font-weight: bold;
}
.hidden { display: none; }
.footer-simple { background: #333; color: white; text-align: center; padding: 10px; font-size: 0.8rem; }